.bar rect {
  fill: steelblue;
  shape-rendering: auto;
  stroke-width:1;
  stroke:grey;
  fill-opacity:0;
}

.bar rect.brushed {
  fill: steelblue;
  shape-rendering: auto;
  stroke-width:1;
  stroke:grey;
  fill-opacity:100;
}

.bar text {
  font: 8px sans-serif;
}

.bar text.brushed {
  font: 8px sans-serif;
  fill: darkblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: auto;
}

/*body {
  font: 10px sans-serif;
}*/